.scroll_content {
    /* リスト全体のスタイル */
    display: flex;
    height: 100%;
    margin: 0% 5%;
    overflow-x: auto;
}

.scroll_content li {
    /* 各リストのスタイル */
    width: 10%;
    padding: 30px;
    margin: 3px;
    flex-shrink: 0;
    list-style: none;
}

.scroll_content img {
    /* 画像のスタイル */
    width: 100%;
    object-fit: cover;
}

.scroll_content::-webkit-scrollbar {
    height: 12px;
    /* スクロールバーの高さ */
}

.scroll_content::-webkit-scrollbar-thumb {
    background: #aaa;
    /* ツマミの色 */
    border-radius: 6px;
    /* ツマミ両端の丸み */
}

.scroll_content::-webkit-scrollbar-track {
    background: #ddd;
    /* トラックの色 */
    border-radius: 6px;
    /* トラック両端の丸み */
}


@media screen and (min-width: 450px) {

    .scroll_content li {
        width: 10%;
    }

}

.search {
    margin: 50px;
    text-align: center;
}

.title {
    margin: 0% 16%;
    text-align: center;
}

.title2 {
    margin: 0% 16%;
    text-align: center;
}

#map {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

html,
body {
    height: 100%;
    width: 100%;
}